




.mountain {
   height: 1000px;
    width: 2000px;
}

.heading1 {
    position: absolute;
    background-color: #ccecff;
    width: 400px;
    top: 30px;
    left: 700px;
    padding: 0px;
    height: 100px;
    margin: 20px;
    z-index: 999;
    opacity: 95%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}


.page {
    color:#fff!important; background-color:rgb(69, 173, 233)!important
}

.logo {
    color: #ffff;
  }

.nav {
    background-color: rgb(0, 208, 245); color: #fff;
   
}

.compname {
    position: absolute;
    color: rgb(81, 132, 141);
    font-size: 500%;
    left: 40px;
    top: 27px;
    font-family: "Brush Script MT", cursive; font-size: 100px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: "Brush Script MT", cursive; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Brush Script MT", cursive; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Brush Script MT", cursive; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Brush Script MT", cursive; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; 
}

.parallax {
  
    /* Set a specific height */
    min-height: 60px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .navbar .nav-link{
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.navbar-toggler{
    outline: none !important;
}
.bg-black{
    background: #131a9c;
    
}

body,
h1,
h2,
h3,
h4,
h5,



.w3-bar, 
h1,
button {
  font-family: "Montserrat", sans-serif
}

p {
  color: grey;
}


.to-the-top {
  background-color: lightskyblue(12, 173, 1);
  color: rgb(0, 0, 0);
}

.slideshow-container {
  position: relative;
  background: #000000;
}

.slides {
  display: none;
  padding: 80px;
  text-align: center;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(0, 0, 0);
}

.dot-container {
  text-align: center;
  padding: 20px;
  background: rgb(0, 0, 0);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: inline-block;
  transition: backround-color 0.6 ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

q {
  font-style: italic;
}

.maker {
    color: lightskyblue;
}

.background1 {
    position: absolute;
    background-color: #4e6470;
    width: 110%;
    top: 700px;
    left: -2%;
    padding: 0px;
    height: 300px;
    margin: 20px;
    z-index: 999;
    
    
}





